/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v16-latin-regular.woff2") format("woff2"), url("../fonts/lato-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v16-latin-700.woff2") format("woff2"), url("../fonts/lato-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v16-latin-900.woff2") format("woff2"), url("../fonts/lato-v16-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.b-body {
  font-family: "Lato";
  color: #222831;
  width: 100%;
  background-color: #F8F9FC;
  padding-bottom: 60px;
}

.b-section {
  margin-top: 60px;
}

.b-section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.b-section-title--with-options {
  display: block;
}

.b-section-options-container {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

@media (min-width: 992px) {
  .b-section-title-container--with-options {
    display: flex;
    justify-content: space-between;
    align-items: initial;
  }

  .b-section-title--with-options {
    display: inline-block;
  }

  .b-section-options-container {
    display: inline-flex;
    text-align: right;
  }
}
.b-header {
  background-color: #393E46;
  width: 100%;
  padding-top: 15px;
}

.b-account-menu-container {
  text-align: right;
  margin: 0;
  color: #fff;
  position: relative;
  float: right;
}

.b-account-menu {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}
.b-account-menu__e-text {
  margin-right: 5px;
}
.b-account-menu__e-icon--active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.b-account-menu-list-container {
  position: absolute;
  right: 0;
  margin-top: 5px;
}

.b-account-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.b-account-menu-list__e-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #222831;
  background-color: #fff;
}
.b-account-menu-list__e-link:hover {
  background-color: #F1F0FC;
}
.b-account-menu-list__e-icon {
  margin-left: 10px;
}

.b-logo-container {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}
.b-logo-container__e-logo {
  height: 100%;
  max-height: 60px;
}

.b-nav-mobile {
  background-color: #fff;
  border-bottom: 1px solid #CED2D9;
  color: #222831;
}

.b-nav-mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.b-nav-mobile-header__e-text {
  font-size: 20px;
}
.b-nav-mobile-header__e-icon {
  font-size: 32px;
}

.b-nav-mobile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-nav-mobile-list__e-nav-link {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.b-nav {
  background-color: #393E46;
}

.b-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.b-nav-list__e-nav-link {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: #222831;
  background-color: #fff;
}
.b-nav-list__e-nav-link:hover {
  background-color: #F1F0FC;
}
.b-nav-list__e-nav-link--active {
  padding-bottom: 12px;
  border-bottom: 3px solid #7971EA;
}

.b-new-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  text-decoration: none;
  font-size: 28px;
  color: #7971EA;
  border: 1px solid #7971EA;
  background-color: #F1F0FC;
}
.b-new-link__e-icon {
  font-size: 40px;
  margin-right: 5px;
}
.b-new-link:focus {
  box-shadow: 0 4px 8px 0 rgba(121, 113, 234, 0.2);
}
.b-new-link:hover {
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(121, 113, 234, 0.2);
}
.b-new-link:active {
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(121, 113, 234, 0.2);
}
.b-new-link:active .b-new-link__e-text {
  text-decoration: underline;
}

.b-state-sel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  color: #222831;
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #CED2D9;
  margin-bottom: 15px;
}
.b-state-sel__e-number {
  font-weight: 900;
}
.b-state-sel:focus {
  border: 1px solid #7971EA;
  box-shadow: 0 2px 6px 0 rgba(121, 113, 234, 0.2);
}
.b-state-sel:hover {
  border: 1px solid #7971EA;
  box-shadow: 0 2px 6px 0 rgba(121, 113, 234, 0.2);
  color: #7971EA;
}
.b-state-sel:active {
  border: 1px solid #7971EA;
  color: #7971EA;
  font-weight: 700;
}
.b-state-sel--active {
  background-color: #7971EA;
  color: #fff;
  border: 1px solid #7971EA;
}
.b-state-sel--active:hover {
  color: #fff;
  box-shadow: 0 2px 6px 0 rgba(121, 113, 234, 0.2);
}

@media (min-width: 992px) {
  .b-state-sel {
    display: block;
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 0;
  }
  .b-state-sel__e-text {
    display: block;
    margin-bottom: 10px;
  }
  .b-state-sel__e-number {
    display: block;
  }
}
.b-table-container {
  width: 100%;
  overflow-x: auto;
}

.b-table {
  background-color: #fff;
  border: 1px solid #CED2D9;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
}
.b-table__e-thead {
  color: #687180;
  font-weight: 700;
}
.b-table__e-tr {
  border-bottom: 1px solid #CED2D9;
}
.b-table__e-tr:hover {
  background-color: #F1F0FC;
}
.b-table__e-tr--no-hover-effect:hover {
  background-color: #fff;
}
.b-table__e-th {
  padding: 15px;
  text-align: left;
}
.b-table__e-td {
  padding: 15px;
}
.b-table__e-th--small {
  min-width: 5rem;
}
.b-table__e-th--medium {
  min-width: 8rem;
}
.b-table__e-th--large {
  min-width: 12rem;
}
.b-table__e-bottom-container {
  margin-top: 15px;
  margin-bottom: 30px;
}
.b-table__e-info {
  font-size: 14px;
  color: #687180;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .b-table__e-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.b-table-paginator {
  margin: 0;
  padding: 0;
  list-style: none;
}
.b-table-paginator__e-item {
  float: left;
}
.b-table-paginator__e-link {
  padding: 4px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #CED2D9;
  text-decoration: none;
  color: #222831;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 24px;
}
.b-table-paginator__e-link:hover {
  color: #7971EA;
  border-color: #7971EA;
}
.b-table-paginator__e-link--active {
  font-weight: 700;
}

.b-button-table {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #CED2D9;
  margin-right: 15px;
}
.b-button-table__e-button-icon {
  height: 24px;
  margin-right: 8px;
}
.b-button-table:hover {
  border-color: #7971EA;
  box-shadow: 0 2px 6px 0 rgba(121, 113, 234, 0.2);
  cursor: pointer;
  color: #7971EA;
}

@media (min-width: 992px) {
  .b-button-table {
    margin-right: 0;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
