// Botones de tablas

.b-button-table {
    padding: 8px;
    background-color: $clr-blanco;
    border: 1px solid $clr-gris-c;
    margin-right: 15px;

    &__e-button-icon {
        height: 24px;
        margin-right: 8px;
    }

    &:hover {
        border-color: $clr-primario;
        box-shadow: 0 2px 6px 0 $clr-shadow-primario;
        cursor: pointer;
        color: $clr-primario;
    }
}

@media (min-width: $mq-tablet ) {

    .b-button-table {
        margin-right: 0;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}