// Colores
$clr-fondo: #F8F9FC;
$clr-gris-c: #CED2D9;
$clr-gris-m: #687180;
$clr-gris-o: #393E46;
$clr-negro: #222831;
$clr-blanco: #fff;
$clr-primario: #7971EA;
$clr-primario-t: #F1F0FC;
$clr-secundario: #FFC15E;