// Colores
$clr-fondo: #F8F9FC;
$clr-gris-c: #CED2D9;
$clr-gris-m: #687180;
$clr-gris-o: #393E46;
$clr-negro: #222831;
$clr-blanco: #fff;
$clr-primario: #7971EA;
$clr-primario-m: #6c65d1;
$clr-primario-o: #5f59b8;
$clr-primario-t: #F1F0FC;
$clr-primario-t-m: #e5e4f0;
$clr-primario-t-o: #cfcde3;
$clr-secundario: #FFC15E;
$clr-shadow-primario: rgba(121, 113, 234, .2);

// Media Queryes
$mq-mobile: 768px;
$mq-tablet: 992px;
$mq-desktop: 1024px;