.b-body {
    font-family: 'Lato';
    color: $clr-negro;
    width: 100%;
    background-color: $clr-fondo;
    padding-bottom: 60px;
}

.b-section {
    margin-top: 60px;
}

.b-section-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.b-section-title--with-options {
    display: block;
}

.b-section-options-container {
    display: block;
    margin-bottom: 30px;
}

@media (min-width: $mq-tablet) {

    .b-section-title-container--with-options {
        display: flex;
        justify-content: space-between;
        align-items: initial;
    }

    .b-section-title--with-options {
        display: inline-block;
    }

    .b-section-options-container {
        display: inline-flex;
        text-align: right;
    }
}

.b-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.b-dropdown-container {
    position: relative;
}

.b-dropdown {
    position: absolute;
    left: 0;
    z-index: 1100;
    padding-top: 10px;
    background-color: #fff;
}

.b-form {

    &__e-label {
        color: $clr-gris-m;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }
    
    &__e-input {
        background-color: $clr-blanco;
        border: 1px solid $clr-gris-c;
        height: 38px;
        margin-bottom: 15px;
    }
}

