.b-body {
    font-family: 'Lato';
    color: $clr-negro;
    width: 100%;
    background-color: $clr-fondo;
    padding-bottom: 60px;
}

.b-section {
    margin-top: 60px;
}

.b-section-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.b-section-title--is-options {
    display: block;
}

.b-section-options-container {
    display: block;
    margin-bottom: 30px;
}

@media (min-width: $mq-tablet) {

    .b-section-title-container--is-options {
        display: flex;
        justify-content: space-between;
        align-items: initial;
    }

    .b-section-options-container {
        display: inline-flex;
    }
}

// Posicionamiento

.b-p-relative  {
    position: relative;
}

// Elementos HTML

.b-link {
    text-decoration: none;
    color: inherit;
}

.b-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Dropdown

.b-dropdown {
    position: absolute;
    left: 0;
    z-index: 1100;
    padding-top: 10px;
}

.b-dropdown__e-container {
    background-color: $clr-blanco;
    border: 1px solid $clr-gris-c;

    &--is-padding {
        padding: 15px;
    }
}

.b-dropdown-list {

    &__e-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: $clr-negro;
        background-color: $clr-blanco;

        &:hover {
            background-color: $clr-primario-t;
        }
    }

}

.b-form {

    &__e-label {
        color: $clr-gris-m;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }

    &__e-input {
        background-color: $clr-blanco;
        border: 1px solid $clr-gris-c;
        height: 38px;
        margin-bottom: 15px;
    }
}