.b-header {
    background-color: $clr-gris-o;
    width: 100%;
    padding-top: 15px;
}

.b-account-menu-container {
    text-align: right;
    margin: 0;
    color: $clr-blanco;
    position: relative;
    float: right;
}

.b-account-menu {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;

    &__e-text {
        margin-right: 5px;

    }

    &__e-icon--active {
        @include prefix(transform, rotate(180deg), webkit moz ms);
    }
}

.b-account-menu-list-container {
    position: absolute;
    right: 0;
    margin-top: 5px;
}

.b-account-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__e-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: $clr-negro;
        background-color: $clr-blanco;

        &:hover {
            background-color: $clr-primario-t;
        }
    }

    &__e-icon {
        margin-left: 10px;
    }
}

.b-logo-container {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;

    &__e-logo {
        height: 100%;
        max-height: 60px;
    }
}