// Fuentes
@mixin font-face {

    /* lato-regular - latin */
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'),
            url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
            /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/lato-v16-latin-regular.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* lato-700 - latin */
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'),
            url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
            /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/lato-v16-latin-700.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* lato-900 - latin */
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        src: local('Lato Black'), local('Lato-Black'),
            url('../fonts/lato-v16-latin-900.woff2') format('woff2'),
            /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/lato-v16-latin-900.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}

// Prefixes
/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
   
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }

// Listas Nav
@mixin nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin nav-link {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}