.b-nav-mobile {
    background-color: $clr-blanco;
    border-bottom: 1px solid $clr-gris-c;
    color: $clr-negro;
}

.b-nav-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    &__e-text {
        font-size: 20px;
    }

    &__e-icon {
        font-size: 32px;
    }
}

.b-nav-mobile-list {
    @include nav-list;

    &__e-nav-link {
        @include nav-link;
        color: inherit;
        width: 100%;
    }
}

.b-nav {
    background-color: $clr-gris-o;
}

.b-nav-list {
    @include nav-list;
    display: flex;

    &__e-nav-link {
        @include nav-link;
        padding-left: 15px;
        padding-right: 15px;
        color: $clr-negro;
        background-color: $clr-blanco;
    }

    &__e-nav-link:hover {
        background-color: $clr-primario-t;
    }

    &__e-nav-link--active {
        padding-bottom: 12px;  
        border-bottom: 3px solid $clr-primario;
    }
}