.b-nav-mobile {
    background-color: $clr-blanco;
    border-bottom: 1px solid $clr-gris-c;
    color: $clr-negro;
}

.b-nav-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    &__e-text {
        font-size: 20px;
    }

    &__e-icon {
        font-size: 32px;
    }
}

.b-nav-mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__e-nav-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__e-nav-link {
        text-decoration: none;
        color: inherit;
    }
}

.b-nav {
    background-color: $clr-gris-o;
}

.b-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__e-nav-link {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $clr-negro;
        background-color: $clr-blanco;
    }

    &__e-nav-link:hover {
        background-color: $clr-primario-t;
    }

    &__e-nav-link--active {
        padding-bottom: 12px;  
        border-bottom: 3px solid $clr-primario;
    }
}