.b-new-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    text-decoration: none;
    font-size: 28px;
    color: $clr-primario;
    border: 1px solid $clr-primario;
    background-color: $clr-primario-t;

    &__e-icon {
        font-size: 40px;
        margin-right: 5px;
    }

    &:focus {
        box-shadow: 0 4px 8px 0 $clr-shadow-primario;
    }

    &:hover {
        font-weight: 700;
        box-shadow: 0 4px 8px 0 $clr-shadow-primario;
    }

    &:active {
        font-weight: 700;
        box-shadow: 0 4px 8px 0 $clr-shadow-primario;
    }

    &:active &__e-text {
        text-decoration: underline;
    }
}

