.b-table-container {
    width: 100%;
    overflow-x: auto;
}

.b-table {
    background-color: $clr-blanco;
    border: 1px solid $clr-gris-c;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    overflow: auto;
    padding: 0;
    margin: 0;

    &__e-thead {
        color: $clr-gris-m;
        font-weight: 400;
    }

    &__e-tr {
        border-bottom: 1px solid $clr-gris-c;
    }

    &__e-th {
        padding: 15px;
        text-align: left;
    }

    &__e-td {
        padding: 15px;
    }

    &__e-th--small {
        min-width: 5rem;
    }

    &__e-th--medium {
        min-width: 8rem;
    }

    &__e-th--large {
        min-width: 12rem;
    }
}