/* VARIABLES Y MIXINS */

// Variables
@import 'colors';

// Mixins
@import 'mixins';

// Fuentes
@include font-face;

/* SECCIONES */

// LAYOUT
@import 'layout/general';
@import 'layout/components';


@import 'general';
@import 'header';
@import 'nav';
@import 'newticket';
@import 'stateselector';
@import 'table';
@import 'buttons';

// STYLE
@import 'style/general';
@import 'style/components';