// Colores
@import 'colors';

// Mixins
@import 'mixins';

// Fuentes
@include font-face;

// Secciones
@import 'generals';
@import 'header';
@import 'nav';
@import 'newticket';
@import 'stateselector';
@import 'table';
@import 'buttons';