// Componentes

// Dropdown

.b-dropdown {
    position: absolute;
    z-index: 1100;
    padding-top: 10px;

    &--right {
        right: 0;
    }

    &--left {
        left: 0;
    }
}

.b-dropdown__e-container {

    &--is-padding {
        padding: 15px;
    }
}

.b-dropdown-list {

    &__e-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__e-text {
        display: inline-block;
        margin-right: 5px;       
    }
}

// Form

.b-form {

    &__e-label {
        display: block;
        margin-bottom: 5px;
    }

    &__e-input {
        height: 38px;
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
    }
}