.b-nav-mobile {
    border-bottom: 1px solid;
}

.b-nav-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.b-nav-mobile-list {
    @include nav-list;

    &__e-nav-link {
        @include nav-link;
        width: 100%;
    }
}

.b-nav-list {
    @include nav-list;
    display: flex;

    &__e-nav-link {
        @include nav-link;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__e-nav-link--active {
        padding-bottom: 12px;
        border-bottom: 3px solid;
    }
}